#newBanner1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77.93%;
    margin-left: 11.88%;
    margin-right: 10.19%;
    margin-top: 84px;
}

#newBanner1 img {
    width: 55.82%;
}

#newBanner2 {
    display: flex;
    align-items: center;
    width: 77.62%;
    margin-left: 8.44%;
    margin-right: 13.94%;
    margin-top: 220px;
}

#newBanner2 img {
    width: 52.125%;
}

#newBanner2 button {
    margin-top: 70px;
}

#newBanner3 {
    align-items: center;
    display: flex;
    width: 72.25%;
    margin-left: 17.5%;
    margin-right: 10.25%;
    margin-top: 229px;
}

#newBanner3 img {
    width: 57.5%;
}

#newBanner3 button {
    margin-top: 40px;
}

@media (max-width: 1200px) {
    #newBanner1 {
        width: 85%;
        margin-top: 63px;
        margin-left: 8%;
        margin-right: 7%;
    }

    #newBanner2 {
        margin-top: 165px;
        width: 85%;
        margin-left: 6%;
        margin-right: 9%;
    }

    #newBanner2 button {
        margin-top: 52.5px;
    }

    #newBanner3 {
        width: 80%;
        margin-left: 13%;
        margin-right: 7%;
        margin-top: 172px;
    }

    #newBanner3 button{
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    #newBanner1 {
        margin-top: 40px;
    }

    #newBanner2 {
        margin-top: 106px;
    }

    #newBanner2 button {
        margin-top: 34px;
    }

    #newBanner3 {
        margin-top: 110px;
    }

    #newBanner3 button{
        margin-top: 19px;
    }
}

@media (max-width: 480px) {
    #newBanner1 {
        margin-top: 25px;
    }

    #newBanner2 {
        margin-top: 66px;
    }

    #newBanner2 button {
        margin-top: 21px;
    }

    #newBanner3 {
        margin-top: 69px;
    }

    #newBanner3 button{
        margin-top: 12px;
    }
}
