@import url('https://fonts.googleapis.com/css?family=Mulish');

:root {
  font-family: 'Mulish';

  color-scheme: light;

  --primary-white: #fff;

  --primary-gradient: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);

  --primary-blue: #458FF6;

  --primary-gray: #7D7987;

  --midnight-black: #233348;
  --blackcurrant-black: #1F1534;
  --primary-black: #000;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-color);
    background-color: var(--primary-white);
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: var(--midnight-black);
  }
  button {
    background-color: var(--primary-white);
  }
}
