.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1247px;
    width: 100%;
}

.mainBannerTitle {
    font-weight: 700;
    color: var(--primary-black);
}

.bannerTitle {
    font-weight: 700;
    color: var(--primary-black);
}

.mainBannerTitle {
    font-size: 48px;
    max-width: 427px;
}

.bannerTitle {
    font-size: 36px;
    margin-bottom: 30px;
    max-width: 320px;
}

.bannerText {
    color: var(--primary-gray);
    font-weight: 300;
}

.mainBannerText {
    color: var(--primary-gray);
    font-weight: 300;
}

.mainBannerText {
    font-size: 21px;
    margin-top: 25px;
    line-height: 32px;
    margin-bottom: 45px;
    max-width: 427px;
}

.bannerText {
    font-size: 18px;
    margin-top: 31px;
    line-height: 30px;
    max-width: 460px;
}

.bannerDivider {
    background-color: var(--primary-black);
    height: 2px;
    width: 56px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .mainBannerTitle {
        font-size: 36px;
        max-width: 320px;
    }

    .bannerTitle {
        font-size: 27px;
        margin-bottom: 23px;
        max-width: 240px;
    }

    .mainBannerText {
        font-size: 16px;
        margin-top: 18px;
        line-height: 24px;
        margin-bottom: 33.75px;
        max-width: 320px;
    }

    .bannerText {
        font-size: 13px;
        margin-top: 23px;
        line-height: 22px;
        max-width: 345px;
    }

    .bannerDivider {
        width: 42px;
    }
}

@media (max-width: 768px) {
    .mainBannerTitle {
        font-size: 23px;
        max-width: 205px;
    }

    .bannerTitle {
        font-size: 17px;
        margin-bottom: 15px;
        max-width: 290px;
    }

    .mainBannerText {
        font-size: 12px;
        margin-top: 11.5px;
        line-height: 15.5px;
        margin-bottom: 21.6px;
        max-width: 205px;
    }

    .bannerText {
        font-size: 12px;
        margin-top: 14.7px;
        line-height: 14px;
        max-width: 221px;
    }

    .bannerDivider {
        width: 26.9px;
    }
}

@media (max-width: 480px) {
    .mainBannerTitle {
        font-size: 16px;
        max-width: 128px;
    }

    .bannerTitle {
        font-size: 14px;
        margin-bottom: 9.4px;
        max-width: 96px;
    }

    .mainBannerText {
        font-size: 12px;
        margin-top: 7.2px;
        margin-bottom: 13.5px;
        max-width: 128px;
    }

    .bannerText {
        font-size: 12px;
        margin-top: 9.18px;
        max-width: 138px;
    }

    .bannerDivider {
        width: 16.8px;
    }
}

.outlinedButton, .fillButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    width: 200px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Mulish';
    transition: 0.7s;
}

.HCicon {
    transform: rotate(90deg);
    margin-left: 8.79px;
    max-width: 15.434px;
    height: 9.821px;
}

.outlinedButton {
    border: 1.4px solid var(--primary-blue);
    color: var(--primary-blue);
}

.fillButton {
    color: var(--primary-white);
    background-color: var(--primary-blue);
    border: none;
}

.outlinedButton:hover {
    transition: 0.7s;
    fill: var(--midnight-black);
    border: 1.4px solid var(--midnight-black);
    color: var(--midnight-black);
}

.fillButton:hover {
    transition: 0.7s;
    fill: var(--midnight-black);
    background-color: var(--midnight-black);
}

.fillButton:active {
    transform: scale(1.05);
    transition: 0.2s;
}

.outlinedButton:active {
    transform: scale(1.05);
    transition: 0.2s;
}

@media (max-width: 1200px) {
    .outlinedButton {
        width: 150px;
        height: 42px;
        font-size: 13.5px;
    }

    .fillButton {
        width: 150px;
        height: 42px;
        font-size: 13.5px;
    }

    .HCicon {
        margin-left: 6.59px;
        max-width: 11.58px;
        height: 7.37px;
    }
}

@media (max-width: 768px) {
    .outlinedButton {
        width: 96px;
        height: 27px;
        font-size: 10px;
    }

    .fillButton {
        width: 96px;
        height: 27px;
        font-size: 10px;
    }
}
